<!DOCTYPE html>
<html>

<head>
  <!DOCTYPE html>
<html lang="en">

<head>
     {{{_sections.head}}}
</head>

<body data-spy="scroll" data-target="#navbar-section" data-offset="50">
  {{{body}}}
</body>

</html>
