<!-- Dashboard Sidebar Section-->
<div id="MenuSideNav" class="MenuNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeMenuNav()">&times;</a>
    <a href="#" class="scrollToHCT">Reports</a>
</div>

<!-- About Section-->
<div class="Dashboard-Container">
    <div class="container-fluid">
        <!-- Chai Navbar -->
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="Chai-Navbar">
                    <div class="Chai-TL">
                        <a href="/" class="Chai-Title hvr-bob">Chai<img class="Chai-Logo2"
                                src="../images/Chai-Logo2.png" alt="Chai Logo" align="middle">Dash</a>

                    </div>
                    <div class="About-Tag">
                        <a href="/about" class="hvr-float-shadow scrollToAbout2">About Us</a>
                    </div>
                    <div class="Menu-Tag">
                        <a href="/menu2" class="hvr-float-shadow">Menu</a>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Chai Navbar -->
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="Dashboard-Fluid">
                    <div class="Dashboard-Title">Dashboard <i class="fas fa-chart-line Dashboard-Logo hvr-bob"
                            onclick="openMenuNav()"></i>
                    </div>
                    <!-- <i class="fas fa-chart-line"></i> -->

                    <div class="row justify-content-center">
                        <div class="col-11 Dashboard-Info">


                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/menu2.js"></script>