<nav class="navbar navbar-light bg-light fixed-top" style="
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.24), 0 2px 2px 0 rgba(0,0,0,.12);
">
    <a class="navbar-brand" href="#">
        <img src="/images/logo-2.png" width="30" height="30" alt="" style="
            width: 50px;
            height: 50px;
        ">
    </a>
</nav>


<div class="container mt-3" style="
    margin-bottom: 32px;" >

    <div class="row" style="padding-top: 100px;">
        <nav class="col-md-2 d-none d-md-block sidebar" id="navbar-section">

            <div class="sidebar-sticky">

                <ul class="nav flex-column">
                    {{!-- {{#each items}} --}}
                    <li class="nav-item">
                        <a class="nav-link active" href="#item-coffee">

                            {{!-- Coffee --}}
                            {{!-- {{this.category_name}} --}}
                            <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#item-sandwhich">

                            Sandwich
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item-chai">
                            Chai
                        </a>
                    </li>
                    {{!-- {{#/each}} --}}
                </ul>

            </div>


        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h2> Menu</h2>
            <br>


            <section>
                <h3 id="item-coffee">Coffee</h3>
                <br>

                <div class="card shadow">

                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1" id="_1">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-sm btn-success order rounded-pill" data-id="1">Add
                                    to
                                    Order</button>

                            </div>


                        </div>
                    </div>

                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1" id="_2">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-sm btn-success order rounded-pill" data-id="2">Add
                                    to
                                    Order</button>

                            </div>


                        </div>
                    </div>


                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-sm btn-success order rounded-pill">Add to
                                    Order</button>

                            </div>


                        </div>
                    </div>

                </div>

            </section>

            <section>
                <h3 id="item-sandwhich">Sandwhich</h3>
                <br>

                <div class="card shadow">

                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1" id="_1">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-primary order" data-id="1">Add to
                                    Order</button>

                            </div>


                        </div>
                    </div>

                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1" id="_2">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-primary order" data-id="2">Add to
                                    Order</button>

                            </div>


                        </div>
                    </div>


                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-primary">Add to Order</button>

                            </div>


                        </div>
                    </div>

                </div>

            </section>

            <section>
                <h3 id="item-chai">Chai</h3>
                <br>

                <div class="card shadow">

                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1" id="_1">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-primary order" data-id="1">Add to
                                    Order</button>

                            </div>


                        </div>
                    </div>

                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1" id="_2">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-primary order" data-id="2">Add to
                                    Order</button>

                            </div>


                        </div>
                    </div>


                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-primary">Add to Order</button>

                            </div>


                        </div>
                    </div>

                </div>

            </section>

    </div>
    </main>

</div>

<br><br>

<footer>
    <div class="testfooter">
        <div class="container text-right">
            <!-- <p>this will be my footer area</p> -->
            <!-- <button type="button" class="btn btn-primary">
                    Notifications <span class="badge badge-light">4</span>
                </button>
                <button type="button" class="btn btn-primary">
                    <i class="fas fa-shopping-cart"><span class="badge badge-light ">4</span></i>
                </button> -->

            <!-- <a href="checkout.html"><i class="fas fa-shopping-cart fa-2x"><span
                            class="badge badge-light ">4</span></i></a> -->

            <!-- <div class="icon-wrapper">
                    <i class="fas fa-shopping-cart fa-2x"></i>
                    <span class="badge">4</span>
                </div> -->

            <!-- <button class="btn btn-xs btn-link" style="font-size:25px;">
                    <i class="fas fa-shopping-cart fa-lg " style="color:#8286C5"></i>
                </button>
                <span class="badge badge-notify" style="font-size:12px;">3</span> -->

            <a href="checkout.html" class="btn btn-xs btn-link" style="font-size:25px;">
                <i class="fas fa-shopping-cart fa-lg " style="color:#00a862"></i>
            </a>
            <span class="badge badge-notify" style="font-size:12px;" id="cart"></span>

        </div>
    </div>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
<script src="/js/menu.js"></script>