<!-- Menu Sidebar Section-->
<div id="MenuSideNav" class="MenuNav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeMenuNav()">&times;</a>
    <a href="#">Hot Coffees/Teas</a>
    <a href="#">Cold Coffees/Teas</a>
    <a href="#">Sandwiches</a>
    <a href="#">Tacos</a>
</div>

<!-- Parallax Section-->
<div class="Chai-Parallax">
    <div class="Chai-Absolute Linear-Gradient-BG"></div>
    <div class="Chai-Container1 container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="Chai-Navbar">
                    <div class="Chai-TL">
                        <a href="/" class="Chai-Title hvr-bob">Chai<img class="Chai-Logo2"
                                src="../images/Chai-Logo2.png" alt="Chai Logo" align="middle">Dash</a>

                    </div>
                    <div class="About-Tag">
                        <a href="/" class="hvr-float-shadow scrollToAbout2">About Us</a>
                    </div>
                    <div class="Menu-Tag">
                        <a href="#" class="hvr-float-shadow" onclick="openMenuNav()">Menu</a>
                    </div>


                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-7">
                <div class="Chai-Info-Div">
                    <div class="row">
                        <div class="col-7 Chai-Info">
                            <p>Welcome to Chai Dash. We serve freshly ground coffees, such as espresso, latte,
                                cappuccino,
                                and other hot/cold drinks. We also provide sandwiches and tacos. Feel free to order as
                                much
                                as you want. Sit back and enjoy <i class="far fa-smile-beam"></i>
                            </p>
                        </div>
                        <div class="col-4">
                            <div>
                                <img class="Chai-Logo" src="../images/Chai-Logo.png" alt="Chai Logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- About Section-->
<div class="About-Container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="About-Fluid">
                    <div class="About-Title">Menu</div>

                    <div class="row justify-content-center">
                        <div class="col-11 About-Info">

                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>





<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script src="/js/menu.js"></script>