{{#section 'head'}}
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">


<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/588bfbb0a1.js" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="styles/style.css">

<title>Coffee</title>
{{/section}}



<nav class="navbar navbar-light bg-light fixed-top" style="
    padding-top: 24px;
    padding-bottom: 24px;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.24), 0 2px 2px 0 rgba(0,0,0,.12);
">
    <a class="navbar-brand" href="#">
        <img src="/images/logo-2.png" width="30" height="30" alt="" style="
            width: 50px;
            height: 50px;
        ">
    </a>
</nav>


<div class="container mt-3" style="
    margin-bottom: 32px;">

    <div class="row" style="padding-top: 100px;">
        <nav class="col-md-2 d-none d-md-block sidebar" id="navbar-section">

            <div class="sidebar-sticky">

                <ul class="nav flex-column">
                    {{!-- {{#each items}} --}}
                    <li class="nav-item">
                        <a class="nav-link active" href="#item-coffee">

                            Coffee
                            {{!-- {{this.category_name}} --}}
                            <!-- <span class="sr-only">(current)</span> -->
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#item-sandwhich">

                            Sandwich
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#item-chai">
                            Chai
                        </a>
                    </li>
                    {{!-- {{#/each}} --}}
                </ul>

            </div>


        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-4">

            <h2> Menu</h2>
            <br>


            <section>
                <h3 id="item-coffee">Coffee</h3>
                <br>

                <div class="card shadow">

                    <div class="row mt-4 mb-4">
                        <div class="col-2 ">
                            <img src="./img_test.jpg" class="img-fluid">
                        </div>
                        <div class="col-4">

                            <h5 class="mt-0 mb-1">List-based media object</h5>
                            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
                            sollicitudin.
                            Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum
                            nunc
                            ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

                        </div>


                        <div class="col-2">
                            <div class="container text-center vertical-height">
                                <p>4.99</p>
                            </div>

                        </div>

                        <div class="col-2">

                            <div class="container text-center vertical-height">
                                <INPUT TYPE="NUMBER" MIN="0" MAX="10" STEP="1" id="_1">
                            </div>

                        </div>


                        <div class="col-2 ">

                            <div class="container vertical-height">
                                <button type="button" class="btn btn-sm btn-success order rounded-pill" data-id="1">Add
                                    to
                                    Order</button>

                            </div>